  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
:root{

    --font-destaque: 'bebas neue'
}



body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(178, 223, 157);
    
}
header{
    background-image: linear-gradient(to top, rgb(16, 43, 16), rgb(104, 199, 104));
    padding: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.411);
    
    
     

}
aside >h1{
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 43px;
    text-shadow: 5px 6px 5px rgba(0, 0, 0, 0.568);
    
}
header > aside{
    color: white;
    text-align: center;   
    font-weight: normal;
    padding: 30px;

    
}
header>aside>p{
    max-width: 500px;
    display: block;
    margin: auto;
}
#menu > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.4s;
    
}
#menu >a:hover{
    background-color: rgb(123, 209, 134);
    color: black;
    border-radius: 3px;
    


}
main{
    background-color: white;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    padding: 20px;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.384);
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
    
    

}
p{
    font-weight: bold;
    
}
img{
    width: 100%;
    

}
#menu >a:active{
    color: white;
}
main >article{
    background-color:  rgb(158, 218, 131); 
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
    
    
    
}
#finalh1{
    background-color: rgba(34, 70, 34, 0.959);
    color: white;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    
    
    
}
div#lista{
    padding-left: 10px;
    text-decoration: underline;
    font-weight: bold;
    columns: 2;
    padding-bottom: 60px;
    padding-top: 60px;
}
footer{
    background-color: rgb(25, 65, 25);
    color: white;
    padding: 3px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 10px;
    
    
    
    
}
h2{
    background-image: linear-gradient(to right , rgba(1, 214, 1, 0.315), rgb(255, 255, 255));
    color: rgb(36, 82, 36);
    padding: 5px;
    margin: 10px;
}
main >h1{
  color: rgb(44, 90, 44);
  padding: 10px;
  
}
#video{
    width: 100%;
}
main >p {
    margin: 10px;
}
#pequena{
    width: 50%;
    display: block;
    margin: auto;
}
.link{
    text-decoration: none;
    color: green;
    background-color: rgba(91, 160, 91, 0.37);
    padding: 2px;
    border-radius: 4px;
}
.link:hover{
    background-color: rgba(104, 175, 104, 0.897);
    text-decoration: underline;
}
.link:active{
    color: black;
}
