body{
    font-family: Arial, Helvetica, sans-serif;

}
table{
    border-collapse: collapse;
}
thead , tfoot{
    background-color: gray;
    color: white;
    
}
td , th{
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    
}
.num{
    text-align: right;
}