@charset "UTF-8";


@media screen and (max-width: 950px){
    a{
        margin: auto;
        margin-left: 20px;
        
    }
    main{
        width: 400px;
        height: 600px;
        background-color: rgb(215, 224, 255);
        
        
    }
    #img{
        height: 150px;
    }
}